body {
    background-color: rgb(177, 122, 231) !important;
    font-family: 'Courier New', Courier, monospace !important;
}
.navbar {
    height: 11%;
    color: white !important;
}
.container-fluid {
    padding-top: 1rem;
    margin-left: 7rem !important;
}
.navbar-brand {
    color: white !important;
    font-size: 35px !important;
}
.nav {
    font-size: 22px !important;
    margin-left: 4rem !important;
}
h5 {
    font-size: 15px !important;
}

img {
    width: 100%;
}
.container {
    overflow: auto !important;
    display: flex;
    flex-direction: column;
}
#first-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10rem 4rem 0 4rem;
}
#text-field-1 {
    background-color: white;
    width: 90%;
    margin-left: 4rem;
    padding: 0 2rem 0 3rem;
    height: 560px;
    overflow: auto;
}
#second-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4rem;
}
#text-field-2 {
    background-color: white;
    width: 70%;
    margin-right: 3rem;
    padding: 0 2rem 0 3rem;
    height: 540px;
    overflow: auto;
}
#third-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 4rem 4rem 4rem;
}
#text-field-3 {
    background-color: white;
    width: 50%;
    margin-left: 5rem;
    padding: 0 2rem 0 3rem;
    height: 520px;
    overflow: auto;
}
#foto-500 {
    width: 500px;
}

#hello-text {
    margin: 10rem 0 3rem 0;
    background-color: white; 
    padding: 0 2rem 2rem 3rem;
}
table {
    margin: 0 0 3rem 0;
    border-collapse: collapse !important;
    width: 100%;
    font-size: 17px;
} 
th {
    background-color: #FFA700;
    color: black;
}
th, td {
    text-align: left;
    padding: 8px !important;
}
tr {
    background-color: white;
}
#first {
    width: 25%;
    padding-left: 1rem;
}
#second {
    width: 45%;
}

.container2 {
    overflow: auto !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10rem;
}
#foto-400 {
    width: 400px;
}
#text-field-right {
    background-color: white;
    width: 60%;
    margin-left: 4rem;
    padding: 0 2rem 0 3rem;
    height: 505px;
    overflow: scroll;
}
#text-field-left {
    background-color: white;
    width: 60%;
    margin-right: 4rem;
    padding: 0 2rem 0 3rem;
    height: 500px;
    overflow: scroll;
}

